@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
}

h1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal
}